USE [master]
GO

IF DB_ID(N'TpIngSoftware') IS NULL
BEGIN
    CREATE DATABASE [TpIngSoftware]
END
GO

USE [TpIngSoftware]
GO

IF OBJECT_ID(N'dbo.Rol_Patente', N'U') IS NOT NULL DROP TABLE dbo.Rol_Patente
GO
IF OBJECT_ID(N'dbo.Rol_Familia', N'U') IS NOT NULL DROP TABLE dbo.Rol_Familia
GO
IF OBJECT_ID(N'dbo.Patente_Familia', N'U') IS NOT NULL DROP TABLE dbo.Patente_Familia
GO
IF OBJECT_ID(N'dbo.FamiliaN', N'U') IS NOT NULL DROP TABLE dbo.FamiliaN
GO
IF OBJECT_ID(N'dbo.Evento', N'U') IS NOT NULL DROP TABLE dbo.Evento
GO
IF OBJECT_ID(N'dbo.DV', N'U') IS NOT NULL DROP TABLE dbo.DV
GO
IF OBJECT_ID(N'dbo.Usuario', N'U') IS NOT NULL DROP TABLE dbo.Usuario
GO
IF OBJECT_ID(N'dbo.Rol', N'U') IS NOT NULL DROP TABLE dbo.Rol
GO
IF OBJECT_ID(N'dbo.Patente', N'U') IS NOT NULL DROP TABLE dbo.Patente
GO
IF OBJECT_ID(N'dbo.Familia', N'U') IS NOT NULL DROP TABLE dbo.Familia
GO

CREATE TABLE dbo.DV
(
    NombreTabla varchar(100) NOT NULL,
    DVH varchar(64) NOT NULL,
    DVV varchar(64) NOT NULL,
    CONSTRAINT PK_DV PRIMARY KEY CLUSTERED (NombreTabla)
)
GO

CREATE TABLE dbo.Evento
(
    Id_Evento int NOT NULL,
    Login varchar(150) NOT NULL,
    Fecha datetime NOT NULL,
    Hora datetime NOT NULL,
    Modulo varchar(50) NOT NULL,
    Evento varchar(100) NOT NULL,
    Criticidad int NOT NULL,
    CONSTRAINT PK_Evento PRIMARY KEY CLUSTERED (Id_Evento)
)
GO

CREATE TABLE dbo.Familia
(
    ID int NOT NULL,
    Nombre nvarchar(100) NOT NULL,
    CONSTRAINT PK_Familia PRIMARY KEY CLUSTERED (ID)
)
GO

CREATE TABLE dbo.Patente
(
    ID int NOT NULL,
    Nombre nvarchar(100) NOT NULL,
    CONSTRAINT PK_Patente PRIMARY KEY CLUSTERED (ID)
)
GO

CREATE TABLE dbo.Rol
(
    ID int NOT NULL,
    Nombre nvarchar(100) NOT NULL,
    CONSTRAINT PK_Rol PRIMARY KEY CLUSTERED (ID),
    CONSTRAINT UQ_Rol_Nombre UNIQUE (Nombre)
)
GO

CREATE TABLE dbo.Usuario
(
    DNI varchar(20) NOT NULL,
    Apellidos varchar(100) NOT NULL,
    Nombre varchar(100) NOT NULL,
    Login varchar(150) NOT NULL,
    Password varchar(255) NOT NULL,
    Rol nvarchar(100) NOT NULL,
    Email varchar(150) NOT NULL,
    Bloqueo bit NOT NULL CONSTRAINT DF_Usuario_Bloqueo DEFAULT (0),
    Activo bit NOT NULL CONSTRAINT DF_Usuario_Activo DEFAULT (1),
    Idioma varchar(10) NOT NULL CONSTRAINT DF_Usuario_Idioma DEFAULT ('ESP'),
    CONSTRAINT PK_Usuario PRIMARY KEY CLUSTERED (DNI),
    CONSTRAINT UQ_Usuario_Email UNIQUE (Email),
    CONSTRAINT FK_Usuario_Rol FOREIGN KEY (Rol)
        REFERENCES dbo.Rol (Nombre)
        ON UPDATE CASCADE
)
GO

CREATE TABLE dbo.FamiliaN
(
    FamiliaID int NOT NULL,
    SubFamiliaID int NOT NULL,
    CONSTRAINT PK_FamiliaN PRIMARY KEY CLUSTERED (FamiliaID, SubFamiliaID),
    CONSTRAINT FK_FamiliaN_Familia FOREIGN KEY (FamiliaID)
        REFERENCES dbo.Familia (ID)
        ON DELETE CASCADE,
    CONSTRAINT FK_FamiliaN_SubFamilia FOREIGN KEY (SubFamiliaID)
        REFERENCES dbo.Familia (ID)
)
GO

CREATE TABLE dbo.Patente_Familia
(
    PatenteID int NOT NULL,
    FamiliaID int NOT NULL,
    CONSTRAINT PK_Patente_Familia PRIMARY KEY CLUSTERED (PatenteID, FamiliaID),
    CONSTRAINT FK_Patente_Familia_Patente FOREIGN KEY (PatenteID)
        REFERENCES dbo.Patente (ID)
        ON DELETE CASCADE,
    CONSTRAINT FK_Patente_Familia_Familia FOREIGN KEY (FamiliaID)
        REFERENCES dbo.Familia (ID)
        ON DELETE CASCADE
)
GO

CREATE TABLE dbo.Rol_Familia
(
    RolID int NOT NULL,
    FamiliaID int NOT NULL,
    CONSTRAINT PK_Rol_Familia PRIMARY KEY CLUSTERED (RolID, FamiliaID),
    CONSTRAINT FK_Rol_Familia_Rol FOREIGN KEY (RolID)
        REFERENCES dbo.Rol (ID)
        ON DELETE CASCADE,
    CONSTRAINT FK_Rol_Familia_Familia FOREIGN KEY (FamiliaID)
        REFERENCES dbo.Familia (ID)
        ON DELETE CASCADE
)
GO

CREATE TABLE dbo.Rol_Patente
(
    RolID int NOT NULL,
    PatenteID int NOT NULL,
    CONSTRAINT PK_Rol_Patente PRIMARY KEY CLUSTERED (RolID, PatenteID),
    CONSTRAINT FK_Rol_Patente_Rol FOREIGN KEY (RolID)
        REFERENCES dbo.Rol (ID)
        ON DELETE CASCADE,
    CONSTRAINT FK_Rol_Patente_Patente FOREIGN KEY (PatenteID)
        REFERENCES dbo.Patente (ID)
        ON DELETE CASCADE
)
GO
