<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="MaxIntentosLogin" value="3" />
        <add key="PasswordHashIterations" value="600000" />
    </appSettings>
    <connectionStrings>
        <add name="TpIngSoftware" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TpIngSoftware;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
